body{
	 background-color:#000000;
	 background-image: linear-gradient(to bottom, #FFFFFF,#000000);
	 background-repeat: no-repeat;
     color:#000000;
	 font-family: Helvetica, sans-serif;
    }
#wrapper{
         margin-right:auto;
         margin-left:auto;
         width:80%;
         background-color:#ffffff;
         min-width:960px;
         max-width:2048px;
         box-shadow:3px 30px 30px 3px #828282;
        }
#logo {

		background-position:left-side;
		padding-top:60px;
		height:150px;
		align:left;
}
nav{
	background-color:#ffffff;
	color: #000000;
    font-weight: bold;
	font-weight: bold;
	padding:15px;
	text-align: center;
   }
nav a {
        text-decoration: none;
	  }
main{
	 padding:1px 20px 20px 20px;
	}
p{
    text-align:justify;
}
#MRE{
	      height:500px;
		  background-image: url("124.jpg");
		  background-size:100% 100%;
		  background-position:left;
         }
#MRE2{
	      height:600px;
		  background-image: url("125.jpg");
		  background-size:100% 100%;
		  background-position:left;
}
#MRE3{
	      height:550px;
		  background-image: url("126.jpg");
		  background-size:100% 100%;
		  background-position:left;
}
#MRE4{
	      height:600px;
		  background-image: url("127.jpg");
		  background-size:100% 100%;
		  background-position:left;
}
#MRE5{
	      height:450px;
		  background-image: url("128.jpg");
		  background-size:100% 100%;
		  background-position:left;
}
#MRE6{
	      height:100px;
		  background-image: url("129.jpg");
		  background-size:50% 50%;
		  background-position:left;
}
#MRE7{
	      height:550px;
		  background-image: url("132.jpg");
		  background-size:100% 100%;
		  background-position:left;
}
dt{
	color:#000033;
  }
.resort{
	    color:#5c7AF3;
        font-weight: bold;
	   }
h1{
	margin-bottom:0;
	margin-top:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
h2 {
	 color:#800000;
	 font-family: Georgia, 'Times New Roman', Times, serif;
	 text-shadow:1px 1px 1px #CCCCCC;
	 text-align: center;
   }
h3 {
	 color:#000000;
	 font-family: Georgia, 'Times New Roman', Times, serif;
	 text-shadow:1px 1px 1px #CCCCCC;
	 text-align: left;
   }

footer {
	    font-size:75%;
		font-style: italic;
		text-align:center;
        font-family:Georgia, 'Times New Roman', Times, serif;
		padding:20px;
		}
#contact {
	      font-size:90%;
		  }
main img{
    	 height:100%;
         width:100%;
		 }

table { margin: auto;
        border: 5px solid #000066;
		width: 850px;
		border-spacing: 0;
}
td, th { padding: 5px;
         font-family: Arial, sans-serif;
         border-style: none;
}
caption { font-family: Verdana, sans-serif;
          font-weight: bold;
		  font-size: 1.2em;
		  padding-bottom: 5px;
}
tr:nth-of-type(even) { background-color:#eaeaea; }
tr:first-of-type { background-color: #000066;
                   color: #eaeaea; }

#cover { position: relative; }
#cover ul {list-style-type: none;
    width: 300px;
}
#cover li { display: inline;
     float: left;
	 padding: 10px;
}
#cover img { border-style: none;
}
#cover a { text-decoration: none;
             font-style: italic;
             color: #3399cc;
}
#cover span { position: absolute;
                left: -1000px;
               opacity: 0;
              transition:  opacity 3s ease-in-out;
}
#cover a:hover span {
			position: absolute;
			top: 16px;
			left: 320px;
			text-align: center;
            opacity: 1;
}
figure {    position: absolute;
			left: 280px;
			text-align: center;
            opacity: .25;
}

label{
      float:left;
      display:block;
	  text-align:right;
	  width:120px;
	  padding-right:1em;
     }

input,textarea{
               display:block;
			   margin-bottom:20px;
	          }

input[type="submit"]{margin-left:130px;}

.newpagep {page-break-before: always;}


@media only screen and (max-width:64em){
	 body{
		  margin:0;
		  background-color:#ffffff;
	     }

    #wrapper{
	          min-width:0;
              width:auto;
              box-shadow:none;
              border:none;
            }
    header{
	        padding-top:0.5em;
            padding-bottom:0.5em;
	    	padding-left:0;
	    	height:auto;
	      }
    h1{letter-spacing:0.1em;}
    main{margin:0;}
    nav{
	    float:none;
	    width:auto;
	    text-align:center;
    	padding:0.5em;
       }
    nav li{
	       display:inline;
	       padding-top:0.25em;
	       padding-bottom:0.25em;
	       padding-left:0.75em;
	       padding-right:0.75em;
          }

    footer{
	       margin-left:0;
          }
}

@media only screen and (max-width:37.5em){
   main{
        padding-top:0.1em;
        padding-bottom:0.1em;
        padding-left:1em;
        padding-right:1em;
        font-size:90%;
       }
   h1{font-size:2em;}
   nav{padding:0;}
   nav li{
	       display:block;
	       margin:0;
	       border-bottom:2px solid #330000;
         }
   nav a{display:block;}

   #mobile{display:inline;}
   #desktop{display:none;}
}
.Bob1{
    float:left;
    width:20%;
}
.intro1{
    float:right;
    width:80%;
}
.Munsch1{
    float:left;
    width:20%;
}
.intro2{
    float:right;
    width:80%;
}
.Wilkens1{
    float:left;
    width:20%;
}
.intro3{
    float:right;
    width:80%;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
